.vh-75{
    height: 70vh !important;
    max-height: 70vh !important;
}
.h-250{
    height: 250px !important;
    min-height: 250px !important;
    max-height: 250px !important;
}
.logo-navbar{
    width: 45px;
    height: 45px;
}
.no-underline{
    text-decoration: none !important;
}