@font-face {
    font-family: BebasNeue;
    src: url('../font/BebasNeue/BebasNeue-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: BebasNeue;
    src: url('../font/BebasNeue/BebasNeue-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: Montserrat;
    src: url('../font/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url('../font/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: Strong;
    src: url('../font/Strong/Strong-Brush-BF6589cfab0a742.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Montserrat';
    font-weight: normal;
}

/*Carousel Home*/
.il-vh-80{
    height: 80vh !important;
    max-height: 80vh !important;
}
@media (min-width: 992px) {
    .w-lg-60{
        width: 60%;
    }
}
.il-logo-navbar{
    width: 45px;
    height: 45px;
}
.il-title-strong{
    font-family: 'Strong';
    font-size: 10rem;
}
.il-title-card-courses{
    position: absolute !important; 
    bottom: 0 !important; 
    left: 0 !important;
}
.text-transparent{
    color: transparent !important;
    transition: color 0.3s ease-out;
}
.card-title{
    transition: color 0.3s ease-out;
}
.courses .card:hover .il-title-card-courses,
.courses .card:hover .card-text {
    color: white !important;
}
.courses .card:hover .il-title-card-courses,
.courses .card:hover .card-title {
    color: transparent !important;
}
.courses .card-img-overlay{
    background: rgb(2,0,36);
    background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(5,4,54,0.7484243697478992) 4%, rgba(7,7,66,0.6503851540616247) 22%, rgba(104,104,140,0) 52%, rgba(255,255,255,0) 100%);
    border-radius: 0 !important;
}
.courses .card-img-overlay:hover{
    background: rgba(2, 0, 36, 0.671);
}
.il-whatsapp-button {
    padding-right: 20px;
    position: fixed;
    bottom: 20px;
    right: 0;
}
.il-whatsapp-button-size{
    position: relative;
    width: 100px;
    z-index: 1;
    transition: 0.1s;
}
.il-whatsapp-button-size:hover{
    transform: scale(1.06);
}
.carousel{
    position: relative;
    z-index: 0;
}
.il-border-top{
    border-radius: 20px 20px 0 0 !important;
}
.il-card-h-10{
    --bs-card-spacer-y: 3% !important;
}
.il-fs-5{
    font-size: 2rem;
}
.il-me-n1{
    margin-right: -12px;
}
.il-rounded-start-5{
    border-radius: 18px 0 0 18px;
}
.card{
    --bs-card-border-width: 0;
}
.il-card-button{
    position: relative;
    left: 45%;
    top: 40%;
    --bs-btn-font-size: 2.25rem;
    --bs-btn-padding-x: 2rem;
}
.il-me-0{
    position: relative;
    left: 50% !important;
}
.il-container{
    position: relative;
}
.il-top-img{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.il-top-img:hover{
    opacity: 1;
}
.il-rounded-top-0{
    border-radius: 0 0 30px 30px !important;
}